{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    
    <section id="footer">


        <div class="container-fluid text-light" style="background: transparent;">
            


            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 px-2">
                    <h5 class="card-title mx-3 mt-2">Address</h5>
                    <div class="mx-3 ft-txt">
                        <p class="text-light" style="background: transparent;">Phase II</p>
                        <p class="text-light" style="background: transparent;">Main Autobahn</p>
                        <p class="text-light" style="background: transparent;">Latifabad, Hyd.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 my-2">
                    <h5 class="card-title text-center">Follow Us!</h5>
                        <div class="d-flex text-center justify-content-center p-2 ft-txt">
                            
                            <a class="fab fa-facebook fa-2x text-primary mx-2" alt="Sasta Bazaar facebook" style="text-decoration: none; cursor: pointer;"></a>
                            <a class="fab fa-google-plus fa-2x text-danger mx-2" alt="Sasta Bazaar gmail" style="text-decoration: none; cursor: pointer;"></a>
                            <a class="fab fa-linkedin fa-2x text-info mx-2" alt="Sasta Bazaar linkedin" style="text-decoration: none; cursor: pointer;"></a>
                        </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 px-2">
                    <h5 class="card-title mx-3 mt-2">Contact Us</h5>
                    <div class="ft-txt mx-3">
                        <p class="text-light" style="background: transparent;"><a href="mailto:sastabazaar@gmail.com" style="text-decoration: none;"><i class="fas fa-envelope text-white"></i> sastabazaar@gmail.com</a></p>

                        <p class="text-light" style="background: transparent;"><a href="tel:+923133551379" style="text-decoration: none;"><i class="fas fa-phone-alt"></i> +92 3133551379</a></p>

                        <p class="text-light" style=""><i class="fas fa-map-marker-alt"></i> Hyderabad, Pakistan.</p>
                    </div>
                </div>
            </div>


            <div class="row p-2">
                
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'images/SBlogo.png' %}" alt="" class="ft-logo">
                </div>
            </div>

            <div class="row">
                <div class="text-center my-2">
                    <p class="copyright-text">
                        Copyrights &copy; Sasta Bazaar 2023 &reg;
                    </p>
                </div>
            </div>

          </div>

          
        

    </section>
    
</body>
</html>